/* custom css rules */

body {
	padding-top: 3.5rem;
	font-family: 'Roboto', sans-serif;
}

/* Override Bootstrap color due to contrast conflict  */
body a {
	color: #004d7e;
}

/* Pagination */
.page-item.active .page-link {
	background-color: #004D7E;



}

/* Override Bootstrap color due to contrast conflict  */
.btn-primary{
	background-color: #004d7e;
	border: none;
}
/* Override Bootstrap color due to contrast conflict  */
.btn-primary:hover{
	background-color: #004d7e;

}
/* Override Bootstrap color due to contrast conflict  */
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
	background-color: #004d7e;
	border: none;
}
/* Override Bootstrap color due to contrast conflict  */
.input-group-text{
	background-color:#004D7E;
	color: white;

}

/* Title on jumbotron */
.bg-blue {
	background-color: #004D7E;
}

/*jumbotron bk colour*/
.jumbotron {
    background-color: white;
}

/* condensed padding */
.jumbotron-condensed {
	padding-bottom: 0;
}


/* Text Colour for heading on all records */
#all-header {
	color: white;
}

/*All writing in the navbar to be white*/
.navbar-dark .navbar-nav .nav-link {
	color: white;
	padding-left: 40px;
}



/* Colour of title on addition pages */
.title-blue {
	color: #004D7E;
}


/* accordion css */

/* Accordian Link in search_view for encore */
.text-primary{
	color: #004d7e!important;
}

/* Create focus */
#accordian-title:hover{
	color: #004d7e;
}
/* Accordian links */
#accordion a {
	color: rgb(80, 80, 80);
	text-decoration: none;
	font-style: normal;
	font-size: 16px;
}


.card {
	padding: 10px;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-style: normal;
	font-size: 16px;
	/*color: rgb(80, 80, 80);*/
	border-radius: 0px; 
}


/*Top of page button styling*/
#myBtn {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Fixed/sticky position */
	bottom: 20px;
	font-size: 18px;
	/* Place the button at the bottom of the page */
	right: 30px;
	/* Place the button 30px from the right */
	z-index: 99;
	/* Make sure it does not overlap */
	border: none;
	/* Remove borders */
	outline: none;
	/* Remove outline */
	background-color: #212529;
	/* Set a background color */
	color: white;
	/* Text color */
	cursor: pointer;
	/* Add a mouse pointer on hover */
	padding: 15px;
	/* Some padding */
	border-radius: 10px;
	/* Rounded corners */
}
#myBtn:hover {
	background-color: #555;
	/* Add a dark-grey background on hover */
}


/* BRAND COLOURS */

.list-view-brand {
	background-color: white;
	border-left-color: #004b87;
    border-left-width: 10px;
}

/* Padding above and below accordian list */
 #accordion {
  padding: 1rem 0 0 0;
}


/*highlight words on search results page*/
.highlight {
	background-color: #FFFF88;
}

/*tags on search results page*/
.tag-outline {
	color: rgb(78, 78, 78);
    border: 1px solid rgb(104, 104, 104);
    background-color: transparent;
}

/*home collection swiper*/ 
.card {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.card-title a {
  color: #000;
  text-decoration: none !important;
}

.card-content {
  padding:15px;
  text-align:left;
}

/* .card-title { */
  /* margin-top:0px; */
  /* font-weight: 700; */
  /* font-size: 1.65em; */
/* } */

.card-body {
	padding: 0.15rem;
	margin-top: 1rem;
}

.collection-slider {
	background: linear-gradient(180deg, #004D7E 50%, #ffffff 50%);
}

.collection-slider .swiper-slide {
  padding: 1em;
}

.swiper-scrollbar-drag {
    background: rgb(0, 77, 125) !important;
}

.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}



/*START FOOTER STYLING*/
.pic-footer{
	color: white;
	background: #004D7E!important;
}

.pic-footer a{
	color: white;
}

.pic-footer a:hover{
	color: rgb(201, 201, 201);
	text-decoration: none;
}

/* Social Media icons in footer*/
.social-icons {
	    letter-spacing: 1rem;

}

/* END FOOTER STYLING */

@media only screen and (max-width: 768px) {
	.overlay a {
		font-size: 20px
	}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}

	.jumbotron{
		padding: 0.5rem 0.5rem;
		margin-bottom: 0.3rem;
		margin-top: 0.3rem;
	}

	.jumbotron .display-4{
		font-size: 2rem;
	}

	.jumbotron .lead{
		font-size: 0.9rem;
	}

	.pic-footer{
		font-size: 0.8rem;
	}

	.pic-footer p{
		font-size: 1rem;
		font-weight: bold;
	}
}





/*LOADING SPINNER*/
#loader {
	position: absolute;
	left: 50%;
	right: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #004D7E;
	border-radius: 50%;
	border-top: 16px solid #ffffff;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}



.email-button {
	background-color: #004D7E;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline;
	font-size: 0.7rem;
	font-weight: bold;
	padding: 2.5px;
	border-radius: 3px;
}